/* App.css */
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 5px solid #00d8ff; /* Adjusted for a border similar to the image */
  border-radius: 10px;
  background-color: white; /* Optional if you want a white background */
}

.App-logo {
  height: 100px; /* Smaller logo to match the design */
  margin-bottom: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; /* Adjusted to black text for the header */
  background-color: transparent; /* Remove background color */
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

p {
  font-size: 16px;
  margin: 5px 0;
  color: black;
}

